@font-face{
    font-family: 'Source Code Pro', monospace;
    src: 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap';
}

html {
    height: 100%;
    background-image: linear-gradient(#000080, #ccccff);
}
body {
    display: flex;
    flex-direction: column;
}
.App{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
h1 {
    color: red;
    font-size: 96px;
}
p {
    color: purple;
    font-size: 24px;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 2%;
    padding: 2%;
}
button {
    margin: 2%;
    height: 50px;
    width: 100px;
    font: inherit;
    color: #b22deb;
    background-color: #ebb82d;
}
